@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Open+Sans');

#button-container {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Caveat Brush', cursive;
     color: purple;
}
 body {
  background: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQIfwGfe86xx8IWsU-7Z0oKvkEY5VzvlUhSTwUajqjg1VEboHwCOA');
         
